In [1]:
import pandas as pd

In [2]:
# Create a list of data
data = ['a', 'X', 'C', 2, 'e']

# Create a list of corresponding labels
labels = ['a', 'X', 'C', 2, 'e']

# Create a Pandas Series from the data and labels
s = pd.Series(data, index=labels)

# Print the Series
print(s)

a    a
X    X
C    C
2    2
e    e
dtype: object

In [3]:
# Create a dictionary with data
data = {'Bilal': 42, 'Ayesha': 38, 'Hadia': 39}

# Create a Pandas Series from the dictionary
s = pd.Series(data)

# Print the Series
print(s)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

In [4]:
# Create a dictionary with data
data = {'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
        'temperature': [32, 35, 28, 24, 32, 31],
        'windspeed': [6, 7, 2, 7, 4, 2],
        'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
# Set custom index from 'a' to 'f'
df.index = ['a', 'b', 'c', 'd', 'e', 'f']

# Print the DataFrame
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

In [6]:
# Descriptive statistics for temperature
print(df['temperature'].describe())

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [10]:
# Importing CSV with specific columns and setting 'Sex' and 'Job Title' as index columns
people_df = pd.read_csv('people.csv', usecols=["First Name", "Sex", "Email", "Phone", "Job Title"], index_col=["Sex", "Job Title"], skiprows=[1, 5])

# Exporting the modified DataFrame
people_df.to_csv('NewPeople.csv')
print(people_df)

                                First Name                       Email  \
Sex    Job Title
Female Phytotherapist              Phillip       bethany14@example.com
Male   Homeopath                  Kristine       bthompson@example.com
       Market researcher           Yesenia   kaitlinkaiser@example.com
       Waste management officer       Erin         tconner@example.org
Female Intelligence analyst      Katherine     conniecowan@example.com
...                                    ...                         ...
       Software engineer            Dennis         bmartin@example.org
       Barrister                     Steve       latasha46@example.net
Male   Police officer               Wesley        regina11@example.org
Female Broadcast journalist         Summer  alexiscantrell@example.org
Male   IT sales professional        Mariah       pcopeland@example.org

                                                 Phone
Sex    Job Title
Female Phytotherapist                214.112.6044x4913
Male   Homeopath                          277.609.7938
       Market researcher                  584.094.6111
       Waste management officer  001-171-649-9856x5553
Female Intelligence analyst      +1-773-151-6685x49162
...                                                ...
       Software engineer          001-095-524-2112x257
       Barrister                      001-865-478-5157
Male   Police officer               995-542-3004x76800
Female Broadcast journalist       001-273-685-6932x092
Male   IT sales professional       (341)594-6554x44657

[98 rows x 3 columns]

In [11]:
# Importing Excel sheet with specified columns and header
sample_work_df = pd.read_excel('SampleWork.xlsx', sheet_name='Sheet1', usecols=[0, -1], skiprows=[1], header=1)

# Exporting the modified DataFrame as a new sheet
sample_work_df.to_excel('ModifiedSampleWork.xlsx', index=False)
print(sample_work_df)

    Bilal
0  Sufyan
1   Saiqa
2   Aimen

In [12]:
# Creating DataFrame AICP_DF
data = {
    'Name': ['Ali', 'Hifza', 'Bilal', 'Kamran', 'Sara'],
    'Qualification': ['Masters', 'Bachelors', 'PhD', 'Bachelors', 'Masters']
}
AICP_DF = pd.DataFrame(data)

# Saving 'Name' and 'Qualification' columns to df1
df1 = AICP_DF[['Name', 'Qualification']]

# Adding a new column "Height" to AICP_DF
AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]

# Setting 'Name' column as index
AICP_DF.set_index('Name', inplace=True)

# Retrieving row with index "Hifza"
row_hifza = AICP_DF.loc['Hifza']

# Retrieving row with index 3
row_index_3 = AICP_DF.iloc[2]

# Dropping row with index "Bilal"
AICP_DF.drop(index='Bilal', inplace=True)
print(AICP_DF)

       Qualification  Height
Name
Ali          Masters     5.1
Hifza      Bachelors     6.2
Kamran     Bachelors     5.2
Sara         Masters     5.1